<div class="c-form">
  <div class="c-form__required">
    <p><span>*</span>必須項目</p>
  </div>
  <div class="c-form__items">
    <div class="c-form__item c-form-item">
      <div class="c-form-item__label">名前</div>
      <div class="c-form-item__control">[text* your-name placeholder"例：畑楽 太郎"]</div>
    </div>
    <div class="c-form__item c-form-item">
      <div class="c-form-item__label">Eメール</div>
      <div class="c-form-item__control">[email* your-email placeholder"例：info@email.com"]</div>
    </div>
    <div class="c-form__item c-form-item">
      <div class="c-form-item__label">電話番号</div>
      <div class="c-form-item__control">[tel your-tel placeholder"例：090-0123-4567"]</div>
    </div>
    <div class="c-form__item c-form-item">
      <div class="c-form-item__label">お問い合わせ内容</div>
      <div class="c-form-item__control">[textarea* your-message class:hoge placeholder"お問い合わせの内容をご記入ください。"]</div>
    </div>
  </div>
  <div class="c-form__submit">
    <button type="submit" class="c-form__btn"><span>送信する</span></button>
  </div>
</div>
