<div class="l-drawer">
  <div class="l-drawer-inner">
    <ul class="l-drawer__navi-main">
      <li>
        <a href="#feature">「未来を育てる焼き芋」が<br>みなさんの元に届くまで</a>
      </li>
      <li><a href="#product">商品一覧</a></li>
      <li><a href="#news">お知らせ</a></li>
    </ul>
    <div class="l-drawer__navi-subbody">
      <ul class="l-drawer__navi-sub">

        <li><a href="privacy.html">プライバシーポリシー</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
      <ul class="l-drawer__navi-sns">
        <li>
          <a href="https://www.instagram.com/hataraku_official/"><i class="fa-brands fa-instagram"
              aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="https://www.facebook.com/farm.hataraku"><i class="fa-brands fa-facebook-f"
              aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- .l-drawer -->