<div class="l-drawer">
  <ul>
    <li><a href="#feature">「未来を育てる焼き芋」がみなさんの元に届くまで</a></li>
    <li><a href="#product">商品一覧</a></li>
    <li><a href="#news">お知らせ</a></li>
  </ul>
</div>
<!-- .l-drawer -->
