<header class="l-header">
  <div class="c-container">
    <h1 class="l-header__logo">
      <figure>
        <img src="./assets/images/logo_v.svg" alt="焼き芋農場 畑らく Yakiimo Farm HAYARAKU" />
      </figure>
    </h1>
    <div class="l-header__navi">
      <div class="l-header__btn-shop">
        <a class="c-btn c-btn--small" href="#">
          <span class="c-btn__icon"><i class="fa-light fa-cart-shopping"></i></span>
          <span class="c-btn__label">ONLINE SHOP</span>
        </a>
      </div>
      <div class="l-header__trigger js-trigger">
        <div class="c-trigger">
          <div class="c-trigger__inner">
            <span class="c-trigger__line"></span>
            <span class="c-trigger__line"></span>
            <span class="c-trigger__line"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- .c-container -->
</header>
<!-- .l-header -->
