// layout/_l-contents.scss

@use "../global" as g;

.l-contents {
  $this: &;

  background-color: #f3f5f6;

  &__header {
    height: 100vh;
    @include g.mq(md) {
      padding-top: 100px;
    }

    @at-root .home & {
      padding-top: 0 !important;
    }
  }

  &__body {
    position: relative;
    z-index: 1;
    // @include g.clamp(padding-top, 100, 50);
    // @include g.clamp(padding-bottom, 150, 75);
    // background-color: #f3f5f6;
    // overflow: hidden;

    @at-root .home & {
      // margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
    @at-root .home & {
      margin-top: 0;
      padding-top: 0;
    }

    @at-root .p-page & {
      // padding-right: g.$header-active-width;

      @include g.mq(md) {
        padding-right: 0;
      }
    }
    @at-root .p-single & {
      // padding-right: g.$header-active-width;

      @include g.mq(md) {
        padding-right: 0;
      }
    }
  }
}
