// layout/_l-contents.scss

@use "../global"as g;

.l-contents {
  $this: &;

  background-color: #f7f5f2;
	padding-top: 150px;
	@include g.clamp(padding-bottom, 150, 75);

	@at-root :has(.p-home) & {
		padding-bottom: 0;
	}

  &__body {
    position: relative;
    z-index: 1;
    // @include g.clamp(padding-top, 100, 50);
    // @include g.clamp(padding-bottom, 150, 75);
    // background-color: #f3f5f6;
    // overflow: hidden;

    @at-root .home & {
      // margin-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    @at-root .home & {
      margin-top: 0;
      padding-top: 0;
    }

  }
}
