// layout/_l-drawer.scss

@use "../global"as g;

.l-drawer {
    $this: &;

    position: fixed;
    z-index: 10;
    top: 0;
		right: 0;
    // display: none;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.1);
    transform: translateX(100%);
    // transform: translateX(0);
    opacity: 0;
    // opacity: 1;
    transition: all 0.3s;

    &--active {
        opacity: 1;
        transform: translateX(0);
    }

    // .c-drawer {
    //     width: 100%;
    //     // height: 100vh;

    //     &::before {
    //         display: none;
    //     }
    // }
}
