// layout/_l-footer.scss

@use "../global" as g;

.l-footer {
  $this: &;
  position: relative;
  z-index: 1;

  @include g.clamp(padding-top, 150, 75);
  @include g.clamp(padding-bottom, 150, 75);
  background-color: #e3dcd1;

  @include g.mq(lg) {
    // padding-right: 0;
  }

  & * {
    color: #6a3906;
  }

  .c-container {
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include g.mq(md) {
      flex-direction: column;
    }
  }

  &__company {
    p {
      @include g.clamp(margin-top, 70, 35);
      font-size: g.$font-size-xs;
      text-align: center;
    }
  }

  &__navi {
    display: flex;
    justify-content: center;
    @include g.clamp(gap, 70, 35);

    @include g.mq(md) {
      flex-direction: column;
    }

    &-main {
      display: flex;
      flex-direction: column;
      @include g.clamp(gap, 50, 35);

      & > li {
        font-family: g.$font-dnp-shuei;
        @include g.font-clamp("md", "sm");
        font-weight: 600;
        letter-spacing: 0.075em;
      }
    }

    &-sub {
      & > ul {
        display: flex;
        @include g.clamp(gap, 20, 10);
        @include g.clamp(margin-bottom, 40, 30);
        @include g.font-clamp("xl", "lg");
      }

      & > li {
        font-family: g.$font-dnp-shuei;
        font-size: g.$font-size-sm;
        font-weight: 600;
        letter-spacing: 0.075em;
      }
    }
  }

  &__copyright {
    font-size: 1.1rem;
    text-align: right;
    letter-spacing: 0.075em;
  }
}
