// layout/_l-header.scss

@use "../global" as g;

.l-header {
	$this: &;

  position: fixed;
  z-index: 20;
  @include g.clamp(padding-top, 50, 30);
  width: 100%;

  .c-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__logo {
    figure {
      width: 100px;
			opacity: 1;
			scale: 1;
			transition: all 0.3s ease-in-out;

			@at-root :has(.p-home) & {
				width: 180px;
			}

			@at-root #{$this}--scrolled & {
				opacity: 0;
				scale: 0.9;
			}

      @include g.mq(md) {
        width: 80px;
      }
    }
  }

  &__navi {
    display: flex;
    @include g.clamp(gap, 40, 20);
  }

	&__trigger {
		// z-index: 30;
	}
}
