// component/_c-btn.scss

@use "../global" as g;

.c-btn {
  $this: &;

  // transition: all 0.2s;
  // opacity: 1;

  // &:hover {
  //     opacity: 0.7;
  // }

  display: flex;
  justify-content: center;
  align-items: center;
  @include g.clamp(padding-top, 12, 12);
  @include g.clamp(padding-bottom, 12, 12);
  border: 1px solid g.$color-main;
  border-radius: 5px;
  line-height: 1;

  @include g.mq(md) {
    margin-right: 15vw;
    margin-left: 15vw;
  }

  @at-root #{$this}--green {
    border-color: g.$color-sub;
  }

  @at-root #{$this}--large {
    @include g.clamp(padding-top, 15, 15);
    @include g.clamp(padding-right, 160, 80);
    @include g.clamp(padding-bottom, 15, 15);
    @include g.clamp(padding-left, 160, 80);
    background-color: g.$color-main;
    border-radius: 8px;

    @include g.mq(sm) {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  @at-root #{$this}--small {
    @include g.clamp(padding-top, 10, 10);
    @include g.clamp(padding-right, 24, 12);
    @include g.clamp(padding-bottom, 10, 10);
    @include g.clamp(padding-left, 24, 12);
    border-radius: 4px;

    @include g.mq(md) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__icon {
    @include g.clamp(margin-right, 12, 6);

    @at-root #{$this}--large & {
      @include g.clamp(margin-right, 16, 8);
    }

    @at-root #{$this}--small & {
      @include g.clamp(margin-right, 8, 4);
    }

    i {
      @include g.font-clamp("xl", "md");
      color: g.$color-main;

      @at-root #{$this}--green & {
        color: g.$color-sub;
      }

      @at-root #{$this}--large & {
        @include g.font-clamp("2xl", "lg");
        color: #ffffff;
      }

      @at-root #{$this}--small & {
        @include g.font-clamp("lg", "md");
      }
    }
  }

  &__label {
    font-family: g.$font-dnp-shuei;
    @include g.font-clamp("md", "sm");
    font-weight: 600;
    color: g.$color-main;
    letter-spacing: 0.075em;
    line-height: 1;

    @at-root #{$this}--green & {
      color: g.$color-sub;
    }

    @at-root #{$this}--large & {
      @include g.font-clamp("lg", "md");
      color: #ffffff;
    }

    @at-root #{$this}--small & {
      @include g.font-clamp("sm", "xs");
    }
  }
}
