// component/_c-feature.scss

@use "../global"as g;

.c-feature {
  position: relative;
  display: flex;
  align-items: center;
  // min-height: 100vh;
	// margin-top: min(40vh, 400px);
	// margin-bottom: min(40vh, 400px);

  @include g.mq(md) {
    flex-direction: column-reverse;
    min-height: auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
		justify-content: center;
    width: 33.3333%;
		min-height: 100vh;

    &--active {
      opacity: 1;
    }

    @include g.mq(md) {
      width: 100%;
      @include g.clamp(margin-top, 40, 30, "md", "xs");
			min-height: auto;
    }
  }

  &__title {
    // position: absolute;
    font-family: g.$font-dnp-shuei;
    @include g.font-clamp("4xl", "lg");
		@include g.clamp(padding-right, 40, 20);
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.4;

    br {
      @include g.mq(md) {
        display: none
      }
    }
  }

  &__description {
    @include g.clamp(margin-top, 60, 20);
    @include g.clamp(padding-right, 60, 30);
    @include g.font-clamp("md", "sm");
    line-height: 2.2;

    @include g.mq(md) {
      padding-right: 0;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    gap: 40px;
    width: 66.6666%;
    // word-wrap: break-word;
    // overflow-wrap: break-word;

    @include g.mq(md) {
      width: 100%;
      max-width: 100vw;
      flex-direction: row;
      gap: 20px;
      min-width: 0;
			margin-top: 30px;
    }

    img {
      width: auto;
      transition: transform 0.5s linear;
      /* スムーズなトランジション */
      // transition: transform 0.5s ease-in-out;
      min-width: 0;
    }
  }
}
