// component/_c-form.scss

@use "../global" as g;

.c-form {
  $this: &;

  background-color: #ffffff;
  @include g.clamp(padding, 80, 40);

  @include g.mq(md) {
    padding: 0;
    background: none;
  }

  &__required {
    p {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // font-family: g.$font-notosans;
      font-size: g.$font-size-xs;
      color: #c11313;

      span {
        // font-family: g.$font-base;
        font-size: g.$font-size-md;
      }
    }
  }

  &__items {
    position: relative;
    border-top: 1px solid rgba($color: #707070, $alpha: 0.3);

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      top: -1px;
      display: block;
      width: calc(20% - 10px);
      height: 1px;
      background-color: rgba($color: #707070, $alpha: 1);

      @include g.mq(md) {
        width: calc(50%);
      }
    }
  }

  &-item {
    $item: &;
    position: relative;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: #707070, $alpha: 0.3);

    @include g.mq(md) {
      display: block;
      padding-right: 10px;
      padding-left: 10px;
    }

    &:has([data-name="your-contact"]) {
      padding-top: 30px;
      padding-bottom: 30px;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: -1px;
      display: block;
      width: calc(20% - 10px);
      height: 1px;
      background-color: rgba($color: #707070, $alpha: 1);

      @include g.mq(md) {
        width: calc(50%);
      }
    }

    &__label {
      display: flex;
      width: 20%;
      margin-top: 20px;
      font-size: g.$font-size-sm;
      font-weight: 400;
      letter-spacing: 0.05em;

      @include g.mq(md) {
        width: 100%;
        margin-top: 0;
      }

      @at-root #{$item}:has([data-name="your-contact"]) & {
        margin-top: 0;

        &::after {
          content: "*";
          // position: relative;
          // top: 4px;
          display: inline-block;
          margin-left: 5px;
          color: #c11313;
          font-size: g.$font-size-md;
        }
      }

      @at-root #{$item}:has([aria-required="true"]) & {
        &::after {
          content: "*";
          // position: relative;
          // top: 4px;
          display: inline-block;
          margin-left: 5px;
          color: #c11313;
          font-size: g.$font-size-md;
        }
      }
    }

    &__control {
      width: 80%;

      @include g.mq(md) {
        width: 100%;
        margin-top: 10px;
      }

      input[type="text"],
      input[type="email"],
      input[type="tel"],
      textarea {
        width: 100%;
        background-color: #f8f8f8;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        font-size: g.$font-size-md;
        letter-spacing: 0.05em;
        border-radius: 4px;
        border: none;

        @include g.mq(md) {
          padding-top: 15px;
          padding-right: 20px;
          padding-bottom: 15px;
          padding-left: 20px;
          background-color: #ffffff;
          font-size: g.$font-size-sm;
        }
      }

      span[data-name="your-contact"] {
        display: flex;
        align-items: center;
        height: 100%;
      }

      .wpcf7-radio {
        display: flex;
        align-items: center;

        @include g.mq(md) {
          flex-direction: column;
          align-items: flex-start;
        }

        .wpcf7-list-item {
          display: flex;
          align-items: center;

          input[type="radio"] {
            width: 14px;
            margin-right: 5px;
            background-color: #707070;
          }

          span {
            font-size: g.$font-size-sm;
            letter-spacing: 0.05em;

            @include g.mq(md) {
              font-size: g.$font-size-sm;
            }
          }
        }
      }

      .wpcf7-not-valid-tip {
        font-size: 1.2rem;
      }
    }
  }

  &__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    @include g.clamp(margin-top, 60, 30);

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 300px;
      padding-top: 20px;
      padding-bottom: 20px;
      background-color: g.$color-main;
      border: none;
      transition: all 0.5s;
      opacity: 1;

      &:hover {
        // background-color: #2b271b;
        opacity: 0.8;
      }

      // &::after {
      //     content: "";
      //     display: block;
      //     width: 8px;
      //     height: 8px;
      //     margin-left: 10px;
      //     background-image: url(./assets/images/icon_arrow2.svg);
      //     background-position: center center;
      //     background-size: contain;
      //     background-repeat: no-repeat;
      //     transform: rotate(45deg);
      // }
    }

    span {
      color: #ffffff;
      font-size: g.$font-size-lg;
      letter-spacing: 0.1em;
    }
  }
}

.wpcf7-response-output {
  // display: none;
}
