// component/_c-heading.scss

@use "../global" as g;

.c-heading {
  $this: &;

  font-family: g.$font-dnp-shuei;
  @include g.clamp(font-size, 55, 24);
  font-weight: 400;
  letter-spacing: 0.075em;
  line-height: 1;

  &--vertical {
    writing-mode: vertical-rl;
  }
}
